body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 600px;
    height: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}

p {
    color: #555;
}

button {
    padding: 10px 20px;
    background-color: #4facfe;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #00c6ff;
}

#message {
    margin-top: 15px;
    font-weight: bold;
    color: green;
}
.d1 {
    background-color: #ffefd5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
img{
    width: 500px;
    height: 250px;
    margin-bottom: 20px;

}